<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>LIM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="im">
    <meta name="author" content="lcyang">

    <!-- Le styles -->
    <link href="javascripts/assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
        /*width: 300px;*/
        height: 400px;
      }
      .content {
        height: 300px;
      }
      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>
    <link href="javascripts/assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="javascripts/assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="javascripts/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="javascripts/assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="javascripts/assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="javascripts/assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="javascripts/assets/ico/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">LIM</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Logged in as <a href="#" class="navbar-link">Username</a>
            </p>
<!--             <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul> -->
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Friends</li>
              <li class="active"><a href="#">lcyang</a></li>
              <li><a href="#">lxx</a></li>
              <li><a href="#">love</a></li>
    
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div class="hero-unit content">
          </div>
        </div><!--/span-->

      </div><!--/row-->
      <div class="row-fluid">
        <div class="span9 pull-right" id="put">
          <form class="form-search">
              <input type="text" class="input-medium search-query  span10">
              <button type="submit" class="btn btn-success">Send</button>
            </form>
        </div>
      </div>
      <hr>

      <footer>
        <p>&copy; Lcyang 2013</p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="javascripts/assets/js/jquery.js"></script>
    <script src="javascripts/assets/js/bootstrap-transition.js"></script>
    <script src="javascripts/assets/js/bootstrap-alert.js"></script>
    <script src="javascripts/assets/js/bootstrap-modal.js"></script>
    <script src="javascripts/assets/js/bootstrap-dropdown.js"></script>
    <script src="javascripts/assets/js/bootstrap-scrollspy.js"></script>
    <script src="javascripts/assets/js/bootstrap-tab.js"></script>
    <script src="javascripts/assets/js/bootstrap-tooltip.js"></script>
    <script src="javascripts/assets/js/bootstrap-popover.js"></script>
    <script src="javascripts/assets/js/bootstrap-button.js"></script>
    <script src="javascripts/assets/js/bootstrap-collapse.js"></script>
    <script src="javascripts/assets/js/bootstrap-carousel.js"></script>
    <script src="javascripts/assets/js/bootstrap-typeahead.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
      var data = {};
      var socket = io.connect('localhost');
      $("#chat").hide();
      $("#friend").hide();
      $("#before").hide();
      $("#window").hide();
      function setme() {
        data.user = $("#me").val();
        $("#before").show();
        $("#before").html('<a href="#">Hi '+data.user+'</a>');
        $("#local").hide();
        socket.on(data.user, function (data) {
          console.log(data);
          htmlmaker(data, false);
          $("#window").show();
        });
        $("#friend").show();
      }

      function serfriend() {
        data.touser = $("#touser").val();
        $("#friend").hide();
        $("#chat").show();
      }

      function htmlmaker(data, me) {
        var s = '';
        if (me) {
          s += '<strong class="pull-right">';
          s += data.msg.toString();
          s += "</strong>";
        } else {
          s += '<strong class="pull-left">';
          s += data.user.toString();
          s += ': ';
          s += data.msg.toString();
          s += "</strong>";
        }
        s += "<br>";
        $("#window").append(s);
      };

      function sendto() {
        data.msg = $("#msg").val();
        htmlmaker(data, true);
        $("#window").show();
        $("#msg").val("");
        socket.emit('recvmsg', data);
      };
    </script>
    </script>

  </body>
</html>

