<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>LIM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="javascripts/assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
    </style>
    <link href="javascripts/assets/css/bootstrap-responsive.css" rel="stylesheet">
  </head>

  <body>

    <div class="container-narrow">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active" id="before"><a href="#"></a></li>
        </ul>
        <h1 class="muted">LIM</h1>
      </div>

      <hr>

      <div class="jumbotron">
        <div class="hero-unit" id="chat">
          <div class="row">
            <div class="alert  alert-success" id = "window">
            </div>
          </div>
          <hr/>
          <div class="row" >
              <input type="text" class="input-medium search-query span3" id="msg">
              <button  class="btn btn-small btn-primary" onclick="sendto()">Send</button>
          </div>
        </div>
        <div class="row" id="friend">
          <h1>Friend's</h1><input type="text" class="input-medium search-query span3" id="touser"><button  class="btn btn-small btn-primary" onclick="serfriend()">OK</button>
        </div>
        <div class="row" id="local">
          <h1>Nickname</h1><input type="text" class="input-medium search-query span3" id="me"><button  class="btn btn-small btn-primary" onclick="setme()">OK</button>
        </div>
      </div>

      <hr>
      <div class="footer">
        <p>Lcyang&copy; Company 2013</p>
      </div>
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="javascripts/assets/js/jquery.js"></script>
    <script src="javascripts/assets/js/bootstrap-transition.js"></script>
    <script src="javascripts/assets/js/bootstrap-alert.js"></script>
    <script src="javascripts/assets/js/bootstrap-modal.js"></script>
    <script src="javascripts/assets/js/bootstrap-dropdown.js"></script>
    <script src="javascripts/assets/js/bootstrap-scrollspy.js"></script>
    <script src="javascripts/assets/js/bootstrap-tab.js"></script>
    <script src="javascripts/assets/js/bootstrap-tooltip.js"></script>
    <script src="javascripts/assets/js/bootstrap-popover.js"></script>
    <script src="javascripts/assets/js/bootstrap-button.js"></script>
    <script src="javascripts/assets/js/bootstrap-collapse.js"></script>
    <script src="javascripts/assets/js/bootstrap-carousel.js"></script>
    <script src="javascripts/assets/js/bootstrap-typeahead.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var data = {};
      var socket = io.connect('10.10.4.206');
      $("#chat").hide();
      $("#friend").hide();
      $("#before").hide();
      $("#window").hide();
      function setme() {
        data.user = $("#me").val();
        $("#before").show();
        $("#before").html('<a href="#">Hi '+data.user+'</a>');
        $("#local").hide();
        socket.on(data.user, function (data) {
          console.log(data);
          htmlmaker(data, false);
          $("#window").show();
        });
        $("#friend").show();
      }

      function serfriend() {
        data.touser = $("#touser").val();
        $("#friend").hide();
        $("#chat").show();
      }

      function htmlmaker(data, me) {
        var s = '';
        if (me) {
          s += '<strong class="pull-right">';
          s += data.msg.toString();
          s += "</strong>";
        } else {
          s += '<strong class="pull-left">';
          s += data.user.toString();
          s += ': ';
          s += data.msg.toString();
          s += "</strong>";
        }
        s += "<br>";
        $("#window").append(s);
      };

      function sendto() {
        data.msg = $("#msg").val();
        htmlmaker(data, true);
        $("#window").show();
        $("#msg").val("");
        socket.emit('recvmsg', data);
      };
    </script>
  </body>
</html>
